@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=VT323&display=swap');

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.cabecalho{
  background-color: #2D2D2D;
  color: white;
  font-family: 'VT323';
  font-size: 25px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo{
  width: 90px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.secao_home{
  margin-top: 30px;
  padding: 5px;
  width: 610px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.5px solid #9696964f;
  border-radius: 15px;
}

.text_area{
  height: 210px;
  max-height: 210px;
  min-height: 210px; 
}

.down_post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.user{
  display: flex;
  align-items: center;
  gap: 8px;
}

.username{
  font-size: 15px;
}

.btn_post{
  width: 120px;
  padding: 5px;
}

.txt_postado{
  width: 600px;
}
  
.down_text{
  display: flex;
  justify-content: end;
  gap: 10px;
}

#txt_selecione{
  margin-top: 30px;
  width: 610px;
  text-align: center;
  font-family: 'VT323';
  background-color: #2D2D2D;
  color: white;
  border: 1px solid #0000004f;
  box-shadow: 0px 0px 2px #2D2D2D;
  border-radius: 15px 15px 0 0;
}

.secao_perfil{
  padding: 5px;
  width: 610px;
  height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border: 0.5px solid #9696964f;
  border-radius: 0 0 15px 15px;
  scroll-behavior: smooth;;
}

::-webkit-scrollbar{
  background-color: #2d2d2d67;
  border-radius: 0  0 15px 15px;
}

::-webkit-scrollbar-thumb{
  background: #2D2D2D;; 
  border-radius: 0  0 15px 15px;
  margin: 0;

}

.perfil_image{
  width: 120px;
  box-shadow: 2px 3px 2px #2D2D2D;
  border-radius: 100px;
}

.perfil_image:hover{
  opacity: 0.8;
  cursor: pointer;
}

.perfil_image.selected{
  border: 5px solid green;
}

.btn_go {
  width: 610px;
  margin-top: 30px;
  font-size: 20px;
}